.header {
  background: #111;
  padding: 16px 0;
}

.form {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

.input {
  flex: 1;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #222;
  border-radius: 0;
  background: #111;
  color: #fff;
}

.input::placeholder {
  color: #bbb;
}

.button {
  padding: 8px 20px;
  background: #111;
  color: #fff;
  border: 1px solid #222;
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
} 